*{
	padding:0;
	margin:0;
	list-style-type:none;
	outline: none;
}
.acessibilidade {
	width:1px;
	height:1px;
	display:block;
	text-indent:-999999px;
	overflow:hidden;
	position:absolute;
}
h1, h2, h3, h4{
	font-style: normal;
	font-weight: normal;
	font-family: 'otto', sans-serif;
}
a, h1, h2, h3, h4, article, aside, dialog, figure, footer, header, hgroup, nav, section, blockquote, label { display: block;}
a{ text-decoration: none; color: #666;}
a:hover, a:focus{ background-position:left bottom;}
a.ativo{ background-position:left bottom;}
a.link{ display:inline;}
a:hover.link, a:focus.link{ text-decoration:underline; }
.hidetxt{ text-indent:-99999px; overflow:hidden;}
p{ padding-bottom: 20px; line-height: 18px;}
img{ border: none;}
.left{ float: left;}
.right{ float: right;}
.img-left{ float: left; margin: 0 15px 10px 0;}
@font-face {
    font-family: 'otto';
    src: url('../fonts/phatotto-webfont.eot');
    src: url('../fonts/phatotto-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/phatotto-webfont.woff') format('woff'),
         url('../fonts/phatotto-webfont.ttf') format('truetype'),
         url('../fonts/phatotto-webfont.svg#otto') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'square';
    src: url('../fonts/square721_bt_roman-webfont.eot');
    src: url('../fonts/square721_bt_roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/square721_bt_roman-webfont.woff') format('woff'),
         url('../fonts/square721_bt_roman-webfont.ttf') format('truetype'),
         url('../fonts/square721_bt_roman-webfont.svg#square') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	color: #666;
	font-size: 12px;
	font-family: Verdana, Geneva, sans-serif;
}

/*** HOME ***/
.bg-home{
	width: 100%;
	display: table;
	background: #141212 url(../img/bghome.jpg) center top no-repeat;
}
header{
	width: 886px;
	height: 46mpx;
	margin: 0 auto;
	position: relative;
}
header h1{
	width: 221px;
	height: 190px;
	position: absolute;
	left: 0;
	top: 0;
}
header h1 a{
	width: 221px;
	height: 190px;
	background-image: url(../img/inox-fantasia.png);
}
header ul{ float: right; padding: 15px 50px 0 0;}
header ul li{
	float: left;
	padding-left: 50px;
}
header ul li a{
	color: #ffbec0;
	font-size: 13px;
	font-family: 'square', sans-serif;
	text-transform: uppercase;
}
header ul li a:hover,
header ul li a:focus,
header ul li a.ativo{ color: #FFF;}
.pdg-thome{ padding-top: 36px;}
#content{
	width: 886px;
	margin: 0 auto;
}
aside{
	width: 218px;
	float: left;
}
aside .h2-home{
	font-size: 14px;
	padding: 213px 0 100px 78px;
	background: url(../img/selo.jpg) 0 200px no-repeat;
	line-height: 23px;
}
.cont-right{
	width: 588px;
	float: right;
}
.txt-red{ color: #c4161c;}
.alinha{ width: 500px; margin: 0 auto;}
.alinha h2{ font-size: 30px; margin-bottom: 15px;}
.alinha h3{ font-size: 18px; margin-bottom: 10px;}
.alinha ul li{
	float: left;
	padding: 0 10px 10px 0;
}
.alinha ul li a{
	width: 159px;
	height: 22px;
	text-align: center;
	font-size: 16px;
	font-family: 'otto', sans-serif;
	background-color: #e9e9e9;
	padding-top: 4px;
}
.feature{
	width: 588px;
	float: left;
	padding-top: 35px;
	background: url(../img/bgfeature.jpg) 0 35px no-repeat;
}
.feature h3{
	width: 180px;
	height: 21px;
	float: right;
	border-radius: 4px;
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
	font-family: 'otto', sans-serif;
	background-color: #c4161c;
	padding-top: 4px;
	margin: 20px 50px 0 0;
}
.feature h3 a{ color: #FFF;}
.feature p{
	width: 265px;
	float: left;
	font-size: 16px;
	font-family: 'otto', sans-serif;
	margin: 15px 0 15px 65px;
}
.bnds{
	width: 100%;
	float: left;
}
.bt-parc{
	width: 281px;
	height: 57px;
	display: block;
	float: left;
	font-size: 16px;
	font-family: 'otto', sans-serif;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	border-bottom: 4px solid #c4161c;
	background-color: #e9e9e9;
	padding: 20px 0 0 20px;
}
.bt-parc span{ font-size: 20px;}
.bt-bnds{
	width: 137px;
	height: 57px;
	float: right;
	margin-top: 10px;
	background-image: url(../img/bnds.gif);
}

/* EMPRESA */
.bg-int{
	width: 100%;
	display: table;
	background: #141212;
}
.internas{
	width: 100%;
	display: table;
	background: #FFF url(../img/bgint.jpg) center top no-repeat;
}
header .logo{
	width: 221px;
	height: 190px;
	position: absolute;
	left: 0;
	top: 0;
}
header .logo a{
	width: 221px;
	height: 190px;
}
.pdg-home{ padding-top: 55px;}
.txt-chamada{
	font-size: 26px;
	font-family: 'otto', sans-serif;
	padding-bottom: 50px;
}
.cont-right h1{
	font-size: 24px;
	padding-bottom: 10px;
}
.bt-mapa{
	width: 508px;
	height: 262px;
	background-image: url(../img/mapa.jpg);
}
.under{ text-decoration: underline;}
aside img{ padding: 148px 0 0 3px;}
#mapaTeste{ display: none;}
.mapaContent{
	width: 550px;
  	height: 320px;
  	display:block;
  	position: absolute;
  	left: 30%;
  	top: 10%;
  	z-index:999999;
}
.window{
  	width: 550px;
  	height: 320px;
  	overflow: hidden;
  	z-index: 99;
  	background-color: #FFF;
  	border: 6px solid #999;
  	border-radius: 7px;
  	padding-top: 30px;

}
.close{
	width: 82px;
	height: 23px;
	position: absolute;
	right: 5px;
  	top: 9px;
	background: url(../img/fechar.png) 0 0 no-repeat;
	z-index: 999;
	cursor: pointer;
}
#mask{
	width: 100%;
	background-color: #000;
	z-index: 9;
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0.8;
}

/* PRODUTOS */
.submenu{
	width: 100%;
	float: left;
	margin: 220px 0 40px 0;
}
.submenu li{ height: 26px;}
.submenu li a{
	width: 100%;
	height: 22px;
	border-radius: 5px;
	text-align: center;
	color: #FFF;
	font-size: 17px;
	font-family: 'otto', sans-serif;
	padding-top: 3px;
	background-color: #c4161c;
}
.submenu li a:hover,
.submenu li a:focus,
.submenu li a.ativo{ background-color: #ff262e;}
aside .h2-prod{
	font-size: 14px;
	padding: 10px 0 100px 78px;
	background: url(../img/selo.jpg) 0 0 no-repeat;
	line-height: 23px;
	float: left;
}
.box-bread{ padding: 10px 0 10px 0;}
.cont-right h2{ font-size: 18px; padding-bottom: 25px;}
.esp-bott{ margin-bottom: 30px;}
.box-tanques ul{
	width: 100%;
	float: left;
	margin-bottom: 40px;
}
.box-tanques ul li{ float: left; padding: 0 6px 6px 0;}
.box-tanques ul li a{
	width: 142px;
	height: 142px;
}

/* CLIENTES */
.bt-voltar{
	width: 57px;
	height: 14px;
	float: right;
	margin-top: -25px;
}
.bt-voltar a{
	width: 57px;
	height: 14px;
	background-image: url(../img/btvoltar.jpg);
}
.clientes{
	width: 588px;
	float: left;
}
.clientes li{ float: left;}
.clientes li.centraliza{ margin-left: 172px;}
aside .h2-prod2{
	font-size: 14px;
	padding: 230px 0 100px 78px;
	background: url(../img/selo.jpg) 0 220px no-repeat;
	line-height: 23px;
	float: left;
}

/* CONTATO */
.formulario{
	width: 400px;
	float: left;
	padding-bottom: 100px;
}
.formulario li{
	width: 390px;
	float: left;
	padding-bottom: 10px;
}
.formulario li label{
	width: 94px;
	float: left;
	text-align: right;
	color: #c4161c;
	font-size: 15px;
	font-family: 'otto', sans-serif;
	padding: 3px 7px 0 0;
}
.formulario li input,
.formulario li select,
.formulario li textarea{
	width: 276px;
	height: 25px;
	float: left;
	border: none;
	padding: 0 5px;
	font-size: 15px;
	font-family: 'otto', sans-serif;
	background-color: #e8e8e8;
}
#tel, #cel, #end{ width: 170px;}
.formulario li label[for="num"]{ width: 40px;}
#num{ width: 49px;}
#cidade{ width: 153px;}
.formulario li label[for="estado"]{ width: 55px;}
#estado{ width: 60px;}
.formulario li textarea{
	height: 100px;
	padding-top: 3px;
	padding-bottom: 3px;
}
.formulario li span{
	font-size: 11px;
	float: left;
	padding-left: 104px;
}
.formulario li button{
	width: 86px;
	height: 25px;
	float: right;
	color: #FFF;
	border: none;
	margin-right: 3px;
	background-color: #c4161c;
}
.bt-mapa1{
	width: 215px;
	height: 291px;
	margin: 146px 0 27px 3px;
	background-image: url(../img/btmapa.jpg);
}
.tel-aside{
	width: 158px;
	height: 71px;
	float: left;
	padding-left: 57px;
	font-size: 20px;
	color: #c4161c;
	font-family: 'otto', sans-serif;
	background: url(../img/icontel.jpg) 30px 5px no-repeat;
}
.tel-aside p{ line-height: 22px;}
.tel-aside span{ font-size: 16px;}
.mail-aside{
	width: 215px;
	height: 65px;
	float: left;
	background: url(../img/iconmail.jpg) 0 0 no-repeat;
}
.mail-aside span{
	padding-left: 26px;
	font-size: 18px;
	color: #c4161c;
	font-family: 'otto', sans-serif;
}

.localiza-aside{
	width: 215px;
	height: 112px;
	float: left;
	background: url(../img/iconloca.jpg) 0 0 no-repeat;
}
.localiza-aside span{
	padding-left: 20px;
	font-size: 18px;
	color: #c4161c;
	font-family: 'otto', sans-serif;
}
img[alt="Financia seu Tanque no BNDS"]{ padding: 0;}

/* FOOTER */
footer{
	width: 100%;
	height: 108px;
	float: left;
	padding-top: 24px;
	background: url(../img/bgfooter.jpg) center top no-repeat;
}
.infos{
	width: 988px;
	margin: 0 auto;
}
.infos p{
	margin-top: 20px;
	color: #777;
}
address{
	width: 355px;
	float: left;
	color: #FFF;
	font-style: normal;
	line-height: 20px;
}
.telefone{
	width: 120px;
	float: right;
	padding-left: 40px;
	background: url(../img/iconfone.png) 0 0 no-repeat;
}
.telefone ul{ margin-bottom: 33px;}
.telefone li{
	color: #FFF;
	font-size: 20px;
	padding-top: 2px;
	font-family: 'otto', sans-serif;
}
.telefone li span{ font-size: 16px;}
.jm6{
	width: 31px;
	height: 13px;
	float: right;
	margin-right: 15px;
	background-image: url(../img/jm6.jpg);
}